h1 {
  color: #000000
    
}

h2 {
  background-color: #DAA520;
  color: #00008B;
  padding: 15px;
}

h3 {
  color: #6495ED
}

h4 {
  color: #8FBC8F
}

h5 {
  color: #B22222
}

h6 {
  color: #FF00FF
}

#content {
  max-width: 960px;
  margin: 0 auto;
  font-family: tahoma, verdana, sans-serif;
  font-size: 1.1em;
  padding: 1em;
}

.logo-box {
  padding: 10px;
}

.banner-box {
  padding: 10px;
}

.home-paragraph-3 {
  text-align: center;
}

.home-right-img {
  padding: 1em
}

body {
  background-color: #577E4E;
  font-size: 14px;
}

nav a {
    color: #DAA520;
}

main {
  background-color: #FFFACD;
}

p {
  font-family: tahoma, sans-serif;
  padding: 15px
}