h1 {
  color: #000000
    
}

h2 {
  background-color: #DAA520;
  color: #00008B;
  padding: 1em;
  height: 0.5em;
  margin: .6em;
  margin-bottom: -30px;

}

h3 {
  color: #6495ED
}

h4 {
  color: #8FBC8F
}

h5 {
  color: #B22222
}

h6 {
  color: #FF00FF
}

#content {
  font-family: tahoma, verdana, sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  max-width: 960px;
  margin: 0 auto;
}

.logo-box {
  padding: 1em;
  font-size: 1.1em;
}

.banner-box img {
  width: 100%;
  padding: 1em;
}

.home-paragraph-3 {
  text-align: center;
}

.home-right-img {
  padding: 1em
}

body {
  background-color: #577E4E;
}

nav a {
    color: #DAA520;
}

main {
  background-color: #FFFACD;
}

p {
  font-family: tahoma, serif;
  padding: 1em
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}